
.one {
background-color: orange;
height: 100px;
text-align: center;
}
.two {
    background-color: palevioletred;
    height: 100px;
    text-align: center;
}
.three {
    background-color: peru;
    height: 100px;
    text-align: center;
}
