* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.wrapper {
  overflow: hidden;
  position: relative;
}
.container {
  max-width: 1170px;
  padding: 0 30px;
  position: relative;
  height: 100%;
  margin: 0 auto;
}



li,
ol {
  list-style: none;
}
.logo {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  height: 60px;
  margin-bottom: 10px;
  margin-top: 20px;
  vertical-align: bottom;
  color: #555252;
  float: left;
  width: 10%;
}
.logo-link {
  text-decoration: none;
  color: inherit;
}

.logo::first-letter {
  color: #1abc9c;
  font-weight: bold;
}
.nav-item {
  float: right;
}
.nav {
  float: right;
  width: 90%;
}
.nav-link:hover {
 color: #1abc9c;
}

.nav-list li {
  list-style: none;
  margin-right: 40px;
  padding-top: 30px;
}
.nav-list li:first-child {
  margin-right: 0px;
}


.nav-link {
  text-decoration: none;

  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #0f0101;
  text-transform: uppercase;
  font-size: 14px;
}

.nav-item {
  vertical-align: middle;
  text-transform: uppercase;
}


.slaider-body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 54px;
  text-transform: uppercase;
  color: #ffffff;
  width: 835px;
  padding: 0 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
 }

.head {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 82px;
}

.slaider {
  background-position: center;
  background-size: cover;
  height: 600px;
  position: relative;

}
.slaider:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .52);
}

.left {
  border:none;
  background-color: rgb(26, 188, 156);
  opacity: 0.651;
  position: absolute;

  width: 104px;
  height: 104px;

  top: 50%;
  transform: translate(-0%, -50%);
  font-size: 100px;
  color: #ffffff;
}

.right {

  border:none;
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
  position: absolute;

  width: 104px;
  height: 104px;
  left: 90%;
  top: 50%;
  transform: translate(-0%, -50%);

  font-size: 100px;
color: #ffffff;
}




.container-products {
  height: 580px;
  background-color: #e9f0fd;


}
.products {
background-color: #e9f0fd;

}


.products-head {
  text-transform: uppercase;
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 900 ;
  color: #515151;
 text-align: center;
 margin-bottom: 80px;
  line-height: 32px;
padding-top: 100px;

}

.products-head::after {
  content: "";
  background-color: #1abc9c ;
  display: block;
  height: 10px;
  width:160px ;

  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.product {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  float: left;
  width: 255px;
  position: relative;

}
.product-img {
  height: 280px;

  position: relative;
}

.product-footer {
  color: #fff;
  background: #323232;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #ffffff;
  font-size: 18px;
}
.product-name {
  text-transform: uppercase;
  margin-left: 15px;
  margin-right: auto;
  float: left;
}
.product-name-link {
  text-decoration: none;
  color: inherit;

}
.product-price {


  float: right;
  background-color: rgba(255,255,255,.5);

  text-align: center;
  width: 55px;
}

.container  .product:nth-child(4n + 4) {
  margin-right: 0px;
}
.product {
  float: left;
  margin-right: 30px;

  position: relative;


}
.products:last-child {
  margin-right: 0px;
}
.product-list {
  margin-bottom: 100px;
}

.overlay {
  width: 235px;
  height: 261px;
  background-color: rgb(0, 0, 0);
  position: absolute;

  margin: 12px 10px 12px 10px;
  color: #ffffff;
}
.product:hover .overlay {

  background-color: rgba(0, 0, 0, 0.5 );
  z-index: 1;
}



.overlay .overlay-icon:hover {
  background-color: #1abc9c;
  opacity: 1;
}
.overlay-icons {
  width: 164px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
  line-height: 56px;
}
 .overlay-icon {
   display: inline-block;

   background-color: transparent;
   border-width: 1px;
   border-color: rgb(255, 255, 255);
   border-style: solid;

   width: 48px;
   height: 48px;

   cursor: pointer;
   font-size: 30px;
color: #ffffff;

}



 .overlay-link {
  text-decoration: none;
  color: #ffffff;

 }
 .basket {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgb(50, 50, 50);
font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 32px;
  width: 164px;
  height: 48px;

  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.basket i {
  font-size: 30px;

}
.copyrig {

  height: 90px;
  background-color: #323232;
  color: #fefefe;
  font-size: 16px;
  text-align: center;
  line-height: 100px;
}
.word {
  color: #46bfa9;
}
