
@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    src: local("Roboto"), local("Roboto"),
      url("../fonts/Roboto/Roboto-Regular.ttf")
    format("truetype");

  }
  @font-face {
    font-family: 'Roboto Light"', sans-serif;
    font-style: italic;
    font-weight: 400;

    src: local("Roboto Light"), local("Roboto Light"),
      url("../fonts/Roboto/Roboto-LightItalic.ttf")
    format("truetype");

  }
