@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,500i,700,700i&display=swap");

html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.card {

  width: 420px;


  display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
  margin-bottom: 140px;


}

.card > img {
  margin-bottom: 20px;
}
.nav-list {
  text-align: center;
}

.nav-link {
  text-decoration: none;
  font-size : 14px;
  color: #626262;
  font-family: "Playfair Display", serif;
}

.nav-item {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}
li:not(:last-child) {
 margin-right: 115px;

}



.container :hover {
  color: #03a9f4;
}

.category {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #b4ad9e;
  text-transform: uppercase;
  margin-bottom: 40px;

}
h2 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: #626262;
  margin-bottom: 45px;
}
.content {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #626262;
  text-align: justify;
}
.header {
  margin-top: 80px;
  margin-bottom: 100px;
}
.button {
  text-align: center;
  width: auto;
}
.button > button {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  color: #626262;
  text-align: center;
  width: 164px;
  height: 60px;
}
.button {
  padding-bottom: 70px;
}

.cards {

  font-size: 0px;
  box-sizing: border-box;
}
.cards>.card:nth-child(even) {
  margin-left: 60px;
}




main {
  margin: auto;
  width: 900px;
}
