@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,500i,700,700i&display=swap');

*{
  margin: 0px;
  padding: 0px;
}
body 
.category {
  
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #b4ad9e;
  text-transform: uppercase;
  margin-bottom: 40px;
}
ul, ol {
  list-style: none;
 
}  /*убирает точки */
.nav-list   {
  text-align: center;      /*центрируем ли*/   
  

}
.nav-link {
  text-decoration: none;
}  /*убирает подчеркивание в ссылках*/


.nav-item {

  display: inline-block;     /*делает лишки горизонтальными, */
  verical-align: middle;   /*должно быть вертикальное выравнивание,см. ниже. делаем их средними между сообой по высоте*/
  
}
.nav-item + .nav-item {
  padding-left: 15px;  /* делает отступы между ли, чтоб у первого ли не было отступа*/
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: #626262;
  margin-bottom: 45px;
}
.content {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  color: #626262;
  text-align: justify;
}
.wrapper {
 box-sizing: border-box;
 width: 470px;
 margin: auto;
 padding: 23px;
 background-color: transparent;
}
.wrapper > img {
margin-bottom: 20px;


}

