* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  .wrapper {
    overflow: hidden;
    position: relative;
  }
  @font-face {
    font-family: 'WisdomScriptAJ';
    src: url('../fonts/WisdomScriptAJ/WisdomScriptAJ.eot');
    src: local('WisdomScriptAJ'), url('../fonts/WisdomScriptAJ/WisdomScriptAJ.woff') format('woff');
  }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v14-latin/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-latin/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v14-latin/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/montserrat-v14-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url('../fonts/montserrat-v14-latin/montserrat-v14-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v14-latin/montserrat-v14-latin-900.woff') format('woff'), /* Modern Browsers */
}
@font-face {
  font-family: "DroidSerifItalic";
  src: url("../fonts/DroidSerifItalic/DroidSerifItalic.eot");
  src: url("../fonts/DroidSerifItalic/DroidSerifItalic.eot?#iefix")format("embedded-opentype"),
  url("html-css/Module-07/fonts/DroidSerif/DroidSerifItalic/DroidSerifItalic.woff") format("woff"),
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-slab-v11-latin/roboto-slab-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
}

.container {
max-width: 940px;
margin: 0 auto;
}

.site-navigation {
display: flex;
}

.logo {
  font-family: 'WisdomScriptAJ';
  font-weight: 300;
  font-style: italic;
  font-size: 26px;
  color: #fed136;
  display: flex;

}
