* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
  }
  .wrapper {
    overflow: hidden;
    position: relative;


  }
  .container {
    max-width: 1170px;
    padding: 0 30px;
    position: relative;
    height: 100%;
    margin: 0 auto;

  }
  ul,
  li {
      list-style: none;
  }
  a {
      text-decoration: none;
  }


.content {
  background-image: url(../task-03/img/img-c.jpg);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
padding-bottom: 800px;


}

.menu  {
    display: flex;
    flex-direction: row;
    width: 700px;


}

  .submenu
  {
      display: none;
position: absolute;
width: 200%;
left: 50%;
transform: translate(-50%, 0%);
font-family: 'Pacifico', cursive;
font-size: 14px;
font-style: italic;
text-transform: capitalize;

    }

  .menu-item a {
    color: firebrick;
  }
  .submenu-item a {
    color: green;
  }
    .menu-item {
        display: inline-block;
        border-radius: solid 2px;
        border-color: aqua;
        background-color: gainsboro;

        text-align: center;
        position: relative;
        text-transform: uppercase;
        font-family: 'Pacifico', cursive;
        font-size: 16px;
        font-family: 'Lexend Giga', sans-serif;

    }
  .menu-item:hover > .submenu
  {
      display: block;

     }
/* body {
  min-height: 100vh;
  background-image: linear-gradient(#24C6DC, #514A9D);
  font-family: Roboto, sans-serif;
}

.wrapper {
  max-width: 600px;;
  margin: auto;
} */


/* .menu {
  list-style: none;
  padding: 10px;
/*   border: 10px solid #424242; */
  /* font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.menu-item {
  position: relative;
  display: inline-block;
}

.menu-item > a,
.submenu-item > a {
  display: inline-block;
  padding: 15px 30px;
  color: #424242;
  background-color: #fff;
  text-decoration: none;
}

.menu-item > a:hover,
.submenu-item > a:hover{
  background: #E91E63;
  color: #ffffff;
}

.submenu {
  /* делаем невидимым .submenu */
  /* display: none; */
  /* при появлении .submenu окажется поверх других элементов */
  /* position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  background-color: blue;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3); */
}

/* делаем .submenu видимым */
/* .menu-item:hover > .submenu {
  display: block;
}

.submenu-item {
  white-space: nowrap;
} */
