.green  {
    background-color: yellow;
    height: 100px;
    text-align: center;
    }
    .yellow {
    background-color: yellowgreen;
    height: 100px;
    text-align: center;
    }

.one {
background-color: orange;
height: 100px;
text-align: center;
}
.two {
    background-color: palevioletred;
    height: 100px;
    text-align: center;
}
.three {
    background-color: peru;
    height: 100px;
    text-align: center;
}
